html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #000;	
}

p {
	font-weight: 300;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	font-size: 110%;
}

.header {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

#topVid {
	position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto;
}

#topImg {
	position: fixed;
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto;
	z-index: -1;
}

#topNav {
	font-size: 128%;
	color: #999;
	height: auto;
	width: auto;
	position: fixed;
	top: 100%;
	left: 2%;
	/*margin-top: -36px; Will be good for smaller screen*/
	margin-top: -50px;
}

#topNav .glyphicon {
	display: inline-block;
	padding: 4px;
}

#topNav a {
	color: #999;
}

#topNav a:hover {
	color: #333;
}

#topNav .navLabel {
	display: inline-block;
	position: absolute;
	width: 100px;
	font-size: 80%;
	line-height:1em;
    margin-top:0.5em;
    padding-left: 3%;
    margin-left: 3%;
    visibility: hidden;
    border-left-color: #999;
    border-left-style: solid;
    border-left-width: 2px;
    opacity: 0;
	transition: opacity .15s ease-in;
	-moz-transition: opacity .15s ease-in;
	-webkit-transition: opacity .15s ease-in;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.text {
	display: block;
	position: relative;
	background-color: #FFF;
}

.quote {
	font-size: 171%;
	display: block;
	position: relative;
	width: 100%;
	min-height: 25%;
	height: auto;
	background-color:rgb(170,170,170);
	padding: 2% 10% 2% 10%;
	z-index: 4;
}

.quotePlay {
	display: block;
	position: absolute;
	width: 5%;
	height: auto;
	top: 0%;
	left: 10%;
	margin-top: 2%;
	visibility: hidden;
	z-index: 5;
}

.quotePlay .playIcon {
	display: block;
	position: absolute;
	font-size: 200%;
	width: 100%;
	margin-left: 2%;
	text-align: center;
	top: 50%;
	line-height:1em;
    margin-top:-0.6em;
    color: #222;
}

.quotePlay .playIcon:hover {
	color: #666;
	cursor: pointer;
}

.quote p {
	color: #222;
	font-weight: 700;
	font-family: 'Merriweather', 'Times New Roman', serif;
}

.quote footer {
	display: block;
	font-size: 80%;
	font-weight: 300;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	line-height: 1.42857143;
	color: #555;
}
.quote footer:before {
	content: '\2014 \00A0';
}
/*
.navbar-form input, .form-inline input {
	width:auto;
}
*/

.slide {
	color: #fff;
	display: block;
	position: relative;
	width: 100%;
	height: 110%;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.slide p {
	color: #fff;
}

/* SLIDE 1 */
.slide1 {
	background-image: url(../img/01.png);
	padding: 20% 15% 5% 45%;
}

/* SLIDE 1 */
.slide2 {
	background-image: url(../img/02.png);
	padding: 20% 45% 5% 15%;
}

/* SLIDE 1 */
.slide3 {
	height: 70%;
	background-image: url(../img/03.png);
	padding: 20% 15% 5% 45%;
	z-index: 3;
}

/* SLIDE BLOG */
.slideB {
	color: #fdd;
	display: block;
	position: relative;
	width: 100%;
	min-height: 100%;
	height: auto;
	/*
	background-position: center 0px;
	background-image: url(../img/bgseq/1.jpg);
	background-size: 120% auto;
	*/
	padding: 10% 45% 5% 15%;
}

.clearBack {
	background-color: rgba(0,0,0,0.8);
	padding: 20px;
}


#who p {
	text-transform: uppercase;
	color: #808080;
	font-size: 120%;
	width: auto;
	font-weight: 300;
}

#who .mix {
	text-transform: none;
}

#who p .b {
	font-size: 110%;
	line-height: 180%;
}

#who p .w {
	color: #fff;
	font-weight: 100;
}

#who p .l {
	position: relative;
}

#who p .r {
	position: absolute;
	width: 300px;
	top: 0px;
	left: 150%;
}


#tunnel {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0%;
	left: 0px;
	overflow: hidden;
}

#tunnelImg {
	width: 100%; 
	height: auto;
	z-index: 1;
}

#blogContent {
	position: relative;
	background-color: rgba(0,0,0,0.8);
	padding: 20px;
	z-index: 2;
	/*margin: 0% 45% 5% 15%;
	z-index: 10;
	top: 0px;
	left: 0px;*/
}

.blogEntry {
	/*
	padding-left: 4%;
	padding-right: 4%;
	*/
}

.blogEntry .blogDate {
	color: #fff;
	font-weight: 300;
	font-size: 130%;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.blogEntry .blogDate a {
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.blogEntry .blogDate a:hover {
	text-decoration: none;
	color: #aaa;
}

.blogEntry .divider {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #ccc;
}

.blogEntry .blogImg {
	width: 100%;
	height: auto;
	padding: 4%;
}

.blogImg img {
	width: 100%;
	height: auto;
}

.blogEntry p {
	padding-left: 2%;
}
.blogEntry a {
	font-weight: 300;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	color: #aaa;
	padding-right: 2%;
}

#mediaInfo {
	width: auto;
	height: auto;
	display: block;
	position: absolute;
	top: 5%;
	left: 58%;
	padding: 3% 10% 10% 3%;
}

#mediaInfo .divider {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #ccc;
	margin-bottom: 15px;
}

#mediaInfo p {
	text-transform: uppercase;
	color: #808080;
	font-size: 120%;
	width: auto;
	font-weight: 300;
}

#mediaInfo .mix {
	text-transform: none;
}

.t {
	color: #fff;
	text-transform: uppercase;
	font-size: 120%;
	width: auto;
	font-weight: 300;
	line-height: 180%;
	font-weight: 300;
	letter-spacing: 1.5px;
}

#mediaInfo .b {
	font-size: 120%;
	line-height: 180%;
	font-weight: 300;
	letter-spacing: 1.5px;
}

#mediaInfo .w {
	color: #fff;
	font-weight: 100;
}

#mediaInfo .l {
	display: inline-block;
	width: 120px;
	/*background-color: #900;*/
}

#mediaInfo .r {
	display: inline-block;
	width: auto;
	/*background-color: #009;*/
}

.footer {
	color: #fff;
	/*background-color: #1a1a1a;*/
	background-color:rgb(26,26,26);
	display: block;
	position: relative;
	width: 100%;
	height: 30%;
	padding: 1% 30% 2% 30%;
}

#possible {
	text-transform: uppercase;
	font-size: 130%;
	font-weight: 100;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

.footer .smallPrint {
	display: block;
	position: relative;
	color: #666;
	font-size: 80%;
	font-weight: 300;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	top: 90%;
	width: 100%;
	text-align: center;
}










